body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: #b5f7d3; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0; 
}

h1 {
  color: #5bc0be;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff6b6b; 
  color: white; 
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px; 
}

button:hover {
  background-color: #ff8585; 
}

#imagenGato {
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
  max-width: 100%; 
  height: auto; 
}
